* {
    background-color: rgb(0.5, 0.5, 0.5);
    color: #eee;
    text-align: center;

    font-size: 25px;
}

h1, h2, h3, h4, h5, h6, p {
    background-color: transparent;
}

.heading {
    text-decoration: underline;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-style: solid;
    border-radius: 200px;
    border-width: 3px;
    color: white;

    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    background-color: transparent;

    backdrop-filter: blur(5px);
}

h1 {
    text-decoration: underline;
}

.container {
    margin: auto;
    width: 70%;
    padding: 40px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    color: white;

    margin-top: 20px;

    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    background-color: transparent;

    backdrop-filter: blur(5px);
}

h2 {
    text-decoration: underline;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    background-color: transparent;

}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    border-style: solid;
    border-radius: 20px;
    border-color: white;
    padding: 80px;
    margin: 4vw;

    background-color: transparent;

    font-size: larger
}

select {
    background-color: transparent;

    border: none;

    font-size: larger;
}

option {
    background-color: black;
}

img {
    background-color: transparent;
}

body {
    background-image: url("ocean.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%;

    margin: 0;
}

input {
    background-color: transparent;

    border: 1px solid white;
    border-radius: 10000vw;
}